apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: backend
spec:
  replicas: 2
  template:
    spec:
      nodeSelector:
        role: db
        env: prod
      tolerations:
      - key: dedicated
        operator: Equal
        value: database
        effect: NoSchedule
      containers:
      - name: backend
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "250m"
            memory: "256Mi"
